/* Type Selector & Combining Type & Class selector*/
h1, 
.english-title {color: lightpink; font-family: "Lucida Grande", sans-serif;}

h1{background-color: papayawhip}

.recipe {color: peachpuff; font-family: "Lucida Grande", sans-serif; background-color:aliceblue;}